/* Styles go here */

body{
	background-color: #f7fcff;
	background-blend-mode: multiply;



}
#githublink{
	visibility: hidden;
	font-family: "Arial Black", Gadget, sans-serifrial;
	font-size: 4vw;
	position: relative;
	top: -8vh;

}

.App-logo{
	margin-top: 0px;
	height:50vh;
	width:70vh;
	position:relative;
	top:-10vh;
	z-index: -1;


}
h2{
	position: relative;
	top:-10vh;
	font-family: "Arial Black", Gadget, sans-serifrial;

}
#title{
	font-family: "Arial Black", Gadget, sans-serifrial;
	top: 10vh;
	position: relative;

}
.form1{
	position: relative;
	top:-5vh;
}

#div1{
	height:400px;
}
#genomes{
	top:10vh;
	position: relative;
}